form{
    width: 600px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-container {
    display: flex;
    flex-direction:  column;
}
.input-container textarea {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    resize: none;
    border-radius: 5px;
}
.btn-container{
    display: flex;
    justify-content: center;
    height: 20%;
}

.btn-container button {
    width: 25%;
    height: 100%;
    background-color: cadetblue;
    border-radius: 5px;
    color: rgb(6, 6, 6);
    font-size: large;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px rgb(247, 138, 138), -3px -3px rgb(247, 138, 138);
}